* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* BODY */

body {
  font-family: Arial, sans-serif;
  overflow-x:hidden;
}

/* HEADER */

.header {
  display: flex;

  align-items: center;

  justify-content: space-between;

  background-color: rgb(255, 253, 250);

  padding: 1rem;

}

/* LOGO */

#logo {
  font-size: 20px;

  font-weight: 700;
}

/* NAVBAR DESKTOP */

.navbar {
  margin-left: auto;

  margin-right: auto;
}

.list {
  list-style: none;

  display: flex;

  gap: 1rem;
}

.navbar ul li a {
  text-decoration: none;

  font-size: 14px;

  color: #333;
}

/* RIGHT SECTION */

.right-section {
  display: flex;

  align-items: center;

  gap: 1rem;
}

/* USERNAME */

#username {
  background-color: rgb(209, 255, 255);

  border-radius: 5px;

  padding: 0.5rem 1rem;

  color: rgb(19, 192, 211);
}

/* MENU BUTTON */

#menu-btn {
  display: none;

  border: none;

  background: none;

  font-size: 25px;

  cursor: pointer;

  color: rgb(19, 192, 211);
}

/* HERO SECTION */

.container-center {
  display: flex;

  flex-wrap: wrap;

  background-color: aliceblue;

  min-height: 92vh;
}

/* LEFT SECTION */

#section1 {
  flex: 1 1 50%;

  display: flex;

  flex-direction: column;

  justify-content: center;

  padding: 2rem 5rem;
}

/* RIGHT SECTION IMAGE */

#section2 {
  flex: 1 1 50%;

  display: flex;

  justify-content: center;

  align-items: center;
}

/* IMAGE */

#image {
  width: 100%;

  height: auto;

  object-fit: cover;
}

/* TEXT */

.container-element {
  width: 80%;
}

p {
  font-size: 15px;

  color: rgba(0, 0, 0, 0.6);

  margin-top: 1rem;
}

/* BUTTON */

#button {
  margin-top: 1rem;

  padding: 0.75rem 1rem;

  width: 70%;

  border-radius: 10px;

  background-color: rgb(18, 109, 255);

  color: white;

  border: none;

  cursor: pointer;

  text-align: left;
}

/* MOBILE VIEW */

@media screen and (max-width: 440px) {

  /* MENU BUTTON SHOW */

  #menu-btn {
    display: block;
  }

  /* MOBILE NAVBAR */

  .navbar {

    position: absolute;

    top: 70px;

    right: -250px;

    width: 200px;

    height: calc(100vh - 70px);

    background: rgb(12, 12, 12);

    border-radius: 8px;

    padding: 1rem;

    transition: right 0.4s ease-in-out;
  }

  /* MENU OPEN */

  .header:focus-within .navbar {
    right: 0;
  }

  /* MOBILE LIST */

  .list {
    flex-direction: column;
  }

  .navbar ul li {
    margin-bottom: 15px;
  }

  .navbar ul li a {
    color: white;
  }

  /* RESPONSIVE HERO */

  #section1,
  #section2 {
    flex: 1 1 100%;

    padding: 2rem;
  }

  h1,
  p {
    width: 90%;
  }

  #button {
    width: 90%;
  }

  #logo {
    font-size: 24px;
  }
}
